<nav>
	<ul class="cd-primary-nav">
		{% assign  items = site.pages | sort: "nav-weight" %}
		{% for item in items %}
			{% unless item.exclude %}
			<li class="nav-item">
				<a href="{{base}}{{ item.url }}" {% if item.url == page.url %}class="active"{% endif %}>{{ item.nav-item }}</a>
			</li>
			{% endunless %}
		{% endfor %}
		
		<li class="cd-label">
			<div class="mail">
				<span class="">Address</span>
				<span class="">{{ site.address }}</span>
				<span class="">{{ site.street }}</span>
				<span class="">{{ site.state }}, {{ site.zip }}</span>
			</div>

			<div class="media">
				<span class="">Get in touch</span>
				<span class=""><a href="mailto:{{ site.email }}?subject=Inquiry" "email me">{{ site.email }}</a></span>
				<span class="">{{ site.phone }}</span>
			</div>	

		</li>
	</ul>
</nav>