<!-- footer -->
<section class="footer-container">
    <footer class="site-footer">
        <div class="icon-container">
            <figure><img src="assets/img/icon-sawiana.svg" alt=""></figure>
        </div>
        <!-- footer top -->
        <div class="f-top">
            <p>Sawiana Solutions<sup>TM</sup> is here to provide you with more information, answer any questions you may have and create an effective solution for your energy needs.</p>
            <p><a href="contact.html" class="btn">Contact Sawiana</a></p>
        </div>

        <!-- footer bottom -->
        <div class="f-bottom">
            <div class="copyright">
                <p><small>©Copyright Sawiana Solutions<sup>TM</sup>, Inc. 2016</small></p>
            </div>
            <div class="back-to-top">
                <p><small><strong>Contact:</strong> <span class="email">{{ site.emailProtect }}</span></p>
            </div>
        </div>
    </footer>
</section>
{% include inc-mobile-nav.html %}