/*--------------------------------
	Variables
*/
$site-primary-color: #1E5484;
$site-secondary-color: #4EAACF;
$site-tertiary-color: #486474;
$site-quaternary-color: #008080;
$section-bck: #f9f9f9;
$site-gray: #CCCBCB;
$text-gray: #9B9B9B;
$footer-text: #97B5D0;

$button-color: #7DC855;

$form-background: #dae0e3;
$form-input: #90a1ab;

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white

$base-font-size: 16px;

/*--------------------------------
    Site
*/
$maximum-width: 1190px;


/*--------------------------------
	Breakpoints
*/
$breakpoints: (
    small: 667px,
    medium: 768px,
    large: 1024px
);

/*--------------------------------
	Paths
*/
$fontPath: "../fonts";
$imgPath: "../img";

/*--------------------------------
	Google Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400|Roboto:100,300,400,500);
$raleway: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;

@mixin raleway($size, $style, $weight) {
    font-family: $raleway;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

@mixin roboto($size, $style, $weight) {
    font-family: $roboto;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

/*--------------------------------
    Buttons
*/
@mixin antiman($color: inherit, $bgc: none, $hvc: none, $bdc: transparent) {
    color: $color;
    text-align: center;
    text-shadow: none !important; 
    vertical-align: middle;
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 40px;
    padding: 0.7em 2em;
    display: inline-block;
    position: relative;
    z-index: 1;

    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &::before, &::after {
        content: "";
        border-radius: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        -webkit-transition: -webkit-transform .3s, opacity .3s;
                transition:         transform .3s, opacity .3s;
        -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
                transition-timing-function: cubic-bezier(.75, 0, .125, 1);
        pointer-events: none;

        -webkit-backface-visibility: hidden;
    }
    &::before {
        background-color: $hvc;
        border: 1px solid $bdc;
        -webkit-transform: scale3d(1.2, 1.2, 1);
                transform: scale3d(1.2, 1.2, 1);
        opacity: 0;
    }
    &::after {
        background: $bgc;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        color: $white;
        &::before {
            -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
            opacity: 1;
        }
        &::after {
            -webkit-transform: scale3d(.8, .8, 1);
                    transform: scale3d(.8, .8, 1);
            opacity: 0;
        }
    }
}