body {
    @include antialias;
    font-family: $roboto;
}

@include headings() {
    color: lighten($black, 30%);
    font-family: $roboto;
    font-weight: 300;
    sup {
        font-size: rem(13);
        top: -20px;
    }
}

@include headings(1) {
    font-size: rem(36);
    margin: 0 0 .5rem;
}

@include headings(2) {
    font-size: rem(26);
    margin: 0 0 .3rem;
    &.sub-title {
        margin-bottom: 2em;
    }
}

sup {
    font-size: rem(10);
    position: relative;
    top: -10px;
}

a {
    @include transition(all .8s ease-in-out);
    color: $site-primary-color;
    text-decoration: none;
    &:active {
        color: $site-secondary-color;
    }
    &:hover {
        color: $site-quaternary-color;
    }
}

p {
    @include line-height(24);
    color: darken($text-gray, 20%);
    font-size: rem(18);
    font-weight: 400;
    margin-top: 0;
}

.callout {
    @include bp(large) {
        padding: 1em 6em;
    }
    text-align: center;
    border: 1px solid $site-gray;
    border-width: 1px 0;
    margin: 0 0 2em;
    padding: 4em 1em 1em;
    position: relative;
    &:before, &:after {
        color: lighten($site-gray, 10%);
        font-family: georgia;
        font-size: rem(200);
        line-height: 1;
    }
    &:before {
        @include abs-pos($t: 0, $r: 0, $l: 0);
        @include bp(large) {
            @include abs-pos($t: 20px, $l: 0);
        }
        content: "\201C";
    }
    &:after {
        @include abs-pos($t: 20px, $r: 0);
        @include bp(large) {
            display: block;
        }
        content: "\201D";
        display: none;
    }
    p {
        @include line-height(28);
        color: $site-secondary-color;
        font-size: rem(24);
        font-weight: 300;
    }
    cite {
        color: darken($text-gray, 20%);
        font-size: rem(14);
        font-style: normal;
        text-transform: uppercase;
        &:before {
            content: "-";
        }
    }
}


/*--------------------------------
	Hero and Sections
*/
.cd-section {
    footer {
        padding: 1.2em 0;
        a {
            @include antiman($color: $white, $bgc: $button-color, $hvc: $site-secondary-color);
            font-size: rem(18);
            text-transform: uppercase;
            padding: 1em 2.5em;
        }
    }
}

/*-- Intro --*/
#intro, #hero {
    .title {
        @include bp(large) {
            font-size: rem(54);
        }
        font-size: rem(36);
        font-weight: 500;
        margin-bottom: .2em;
    }
    .sub-title {
        @include bp(large) {
            max-width: 60%;
        }
        @include center-block;
        color: lighten($site-secondary-color, 30%);
        font-size: rem(26);
    }
}

/*-- Solutions --*/
#solutions {
    p {
        @include line-height(30);
        font-size: rem(30);
        font-size: rem(22);
        font-weight: 300;
    }
    .set {
        .set-title {
            @include bp(mediumUp) {
                font-size: rem(18.5);
            }
            font-size: rem(21);
            font-weight: 500;
        }
        p {
            @include line-height(24);
            @include bp(mediumUp) {
                font-size: rem(16.5);
            }
            font-size: rem(18);
        }
    }
}

/* Summary Sawiana */
#summary {
    .entry {
        p {
            @include line-height(28);
            font-size: rem(20);
            font-weight: 300;
        }
    }
}

/* Testtimonials */
.item {
    text-align: left;
    .entry {
        p {
            margin-bottom: 1em;
            padding: 0;
        }
        cite {
            font-size: rem(14);
            font-style: normal;
            text-transform: uppercase;
            em {
                font-style: italic;
                text-transform: none;
                display: block;
            }
        }
    }
}

/*-- Use Cases --*/
.usecase-set {
    .set {
        text-align: center;
        .case-title {
            font-size: rem(18);
            font-weight: 400;
            height: 60px;
        }
        .case {
            font-size: rem(15) !important;
            text-align: center !important;
        }
    }
}
