body {
    background-color: $site-primary-color;
    margin-bottom: 100vh;
    height: 100%;
}

figure {
    @include zero-out;
}

.ov {
    @include abs-pos($t: 0, $r:0, $b:0, $l:0);
}

.page-vid {
    @include foundation-flex-video;
    @include bp(large) {
        max-width: 80% 
    }
    margin-right: auto; 
    margin-left: auto; 
    padding-bottom: 2em; 
}

.vid-bg {
    @include abs-pos($t: 0, $r:0, $b:0, $l:0);
    @include bp(large) {
        display: block;
    }
    width: 100%;
    height: auto;
    display: none;
}

.main-scene {
    @include mui-animation(fade);

    transition-timing-function: ease-in;
    animation-duration: 1.2s;

    animation-fill-mode: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-section {
    @include bp(large) {
        padding: 5em 1em 2em;
        min-height: 700px;
    }
    color: darken($text-gray, 20%);
    text-align: center;
    background-color: $section-bck;
    padding: 2em 1em;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
    &.dk {
        background-color: darken($site-primary-color, 20%);
        * {
            color: $white;
            text-shadow: 1px 1px rgba($black, .3);
        }
        .bcg {
            @include abs-pos($t: 0, $l: 0);
            background-color: $black;
            background-image: url(#{$imgPath}/test.jpg);

            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
            width: 100%;
            height: 150%;

            opacity: .8;
            opacity: .8;
        }
    }
    &.page {
        &.no-pad {
            padding-right: 0;
            padding-left: 0;
        }
        p:not(.call-text) {
            @include line-height(24);
            font-size: rem(16);
            text-align: left;
            margin-bottom: 2.5em;
        }
        .introduction {
            p {
                @include line-height(32);
                color: $site-primary-color;
                font-size: rem(20);
            }
        }
    }

    // article entry
    .entry {
        @include center-align($hor: true, $ver: false);
        @include bp(medium) {
            max-width: 90%;
        }
        @include bp(large) {
            width: 75%;
            max-width: $maximum-width;

            opacity: 0;
        }
        @include transition(all .8s ease-in-out);
        padding: 5em 1.5em 1em;
        width: 100%;
        &.wide {
            max-width: 85%;
        }
        &.enter {
            opacity: 1;
        }
    }
}

#intro, #hero {
    height: 100vh;
    .entry {
        @include center-align($hor: true, $pos: absolute);
    }
}

#intro {
    background-image: url(#{$imgPath}/img-header.jpg);

    background-position: 50% 0;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    .ov {
        @include radial-gradient(#0c2637, $black);

        opacity: .5;
    }
}

/*-- About -- */
.about {
    #hero {
        .bcg {
            background-image: url(#{$imgPath}/img-summary.jpg);

            background-position: 50% 0;

            opacity: .85;
        }
    }
}

.contact {
    #hero {
        .bcg {
            background-image: url(#{$imgPath}/img-contact.jpg);

            background-position: 50% 0;

            opacity: .85;
        }
    }
}


/*-- Solutions --*/
#solutions {
    .ov {
        background-color: rgba(0, 0, 0, .3);
    }
    .bcg {
        background-image: url(#{$imgPath}/img-solutions.jpg);

        background-position: 50% 0;

        opacity: .85;
    }
    .entry.wide {
        padding-top: 0;
        width: 100%;
        max-width: 1200px;
    }
    .solution-set {
        @include grid-row;
        padding: 1em 0 3em;
        max-width: 100%;
        .set {
            @include bp(large) {
                @include grid-col(4, 30px);
            }
            .icon {
                @include center-block;
                margin-bottom: 1em;
                width: 48px;
                height: 48px;
                display: inline-block;
            }
        }
    }
}

/*-- Summary --*/
#summary {
    .bcg {
        background-image: url(#{$imgPath}/img-summary.jpg);

        background-position: 50% 0;
    }
}

/*-- Testimonial Slider --*/

.testimonials {
    @include orbit-wrapper;
    @include bp(mediumUp) {
        display: block;
    }
    border-top: 1px solid $white;
    margin: 0 0 1em;
    padding: 2em 0;
    display: none;
    .testimonial-container {
        @include orbit-container;
        @include zero-out;
        .item-previous, .item-next {
            @include orbit-control;
        }
        .item-previous {
            @include orbit-previous;
        }
        .item-next {
            @include orbit-next;
        }
    }
    .item {
        @include orbit-slide;
        .item-entry {
            @include grid-row;
            @include bp(mediumUp) {
                padding-right: 2.5em;
                padding-left: 2.5em;
                figure, .item-callout {
                    margin: 0;
                }
                figure {
                    @include grid-col(20%, 30px);
                    img {
                        @include center-block;
                    }
                }
                .item-callout {
                    @include grid-col(80%, 30px);
                    cite {
                        font-style: normal;
                        &:before {
                            content: "-";
                        }
                        em {
                            display: block;
                        }
                    }
                }
            }
            padding-top: 0;
            p {
                margin: 0 0 1.5rem;
            }
        }
    }
}

/*-- logos --*/
.logo-container {
    @include clearfix;
    background-color: $site-tertiary-color;
    padding: 2em 1em;
}

.logos {
    @include zero-out;
    @include bp(large) {
        width: 70%;
    }
    @include center-block;
    list-style-type: none;
    width: 100%;
    max-width: $maximum-width;
    display: table;
    li {
        vertical-align: middle;
        height: 100%;
        display: table-cell;
        figure {
            @include bp(large) {
                margin: 0 2em;
            }
            margin: 0 .25em;
            height: 100%;
        }
    }
}

/*-- Use Cases --*/
.usecase-set {
    @include grid-row;
    @include bp(large) {
        &:before {
            @include abs-pos($t: 12%);
            border: 1px solid $site-gray;
            width: 100%;
            z-index: -1;
        }
    }
    padding: 1em 0;
    position: relative;
    .set {
        @include bp(medium) {
            @include grid-col(6, 20px);
        }
        @include bp(large) {
            @include grid-col(3, 20px);
        }
        .icon {
            @include circle(50px, $white);
            @include center-block;
            color: darken($site-gray, 50%);
            border: 1px solid $site-gray;
            margin-bottom: 1em;
            padding: 12px;
        }
    }
}

.contact-container {
    @include grid-row-nest;
    @include clearfix;
    text-align: left;
    ul {
        @include flat-list;
        li {
            position: relative;
        }
    }
    [class*="con-"] {
        @include bp(large) {
            @include grid-col(6, 30px);
        }
    }
    .con-left {
        li {
            border-bottom: 1px solid $site-gray;
            span {
                @include center-align($ver: true, $pos: absolute);
                left: 25%;
            }
            &:last-child {
                border: none;
            }
        }
    }
}
