/*--------------------------------
	Vertical Nav
*/

.cd-nav-trigger, .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    @include bp(large) {
        display: none;
    }
    display: block;
}

/* No Touch devices */

.cd-nav-trigger {
    @include hide-text;
    display: none;
}

.no-touch #cd-vertical-nav {
    @include center(y); // see partials > _mixins.scss
    @include bp(large) {
        display: block;
    }
    display: none;
    position: fixed !important;
    top: 50% !important;
    right: 40px !important;
    left: 85% !important;
    z-index: 5;
    ul {
        @include flat-list;
    }

    li {
        text-align: right;
    }

    a {
        @include clearfix;
        /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
        @include backface-visibility(hidden);
        display: inline-block;

        span {
            @include transform(scale(.6));
            display: inline-block;
            float: right;
        }

        &:hover span {
            @include transform(scale(1));
        }

        &:hover .cd-label {
            opacity: 1;
        }

        &.is-selected .cd-dot {
            background-color: $white;
            border: 1px solid $site-tertiary-color; 
        }
    }

    .cd-dot {
        @include transform-origin(50% 50%);
        background-color: $white;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        position: relative;
        /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
        top: 8px;

        -webkit-transition: -webkit-transform .2s, background-color .5s;
           -moz-transition:    -moz-transform .2s, background-color .5s;
                transition:         transform .2s, background-color .5s;
    }

    .cd-label {
        @include transform-origin(100% 50%);
        color: $color-4;
        margin-right: 10px;
        padding: .2em .5em;
        position: relative;

        -webkit-transition: -webkit-transform .2s, opacity .2s;
           -moz-transition:    -moz-transform .2s, opacity .2s;
                transition:         transform .2s, opacity .2s;
        opacity: 0;
    }

    .alt {
        .cd-dot {
            background-color: lighten($site-tertiary-color, 20%);
        }
        .cd-label {
            color: darken($site-gray, 30%);
        }
    }
}

.touch .cd-nav-trigger {
    background: rgba($black, .9);
    width: 44px;
    height: 44px;
    // display: block;
    position: fixed;
    right: 5%;
    bottom: 30px;
    z-index: 2;

    span {
        @include center;
        background-color: $white;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        position: absolute;

        &::before, &::after {
            content: "";
            background-color: inherit;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
        }

        &::before {
            top: -9px;
        }

        &::after {
            bottom: -9px;
        }
    }
}

.touch #cd-vertical-nav {
    @include transform-origin(right bottom);
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-duration(.2s);
    background-color: rgba($black, .9);
    width: 100% !important;
    max-height: 90%;
    overflow-y: scroll;
    position: fixed;
    top: auto !important;
    bottom: 0;
    left: 0;
    z-index: 1;

    -webkit-overflow-scrolling: touch;

    a {
        color: $white;
        border-bottom: 1px solid rgba($white, .1);
        padding: 2em 1.5em;
        display: block;
        span:first-child {
            display: none;
        }

        &.is-selected span:last-child {
            color: $site-secondary-color;
        }
    }

    &.open {
        @include transform(scale(1));
    }

    &.open + .cd-nav-trigger {
        background-color: transparent;

        span {
            background-color: rgba($color-1, 0);
        }

        span::before, span::after {
            background-color: rgba($color-1, 1);
            border-radius: 0;
            width: 20px;
            height: 3px;
            left: -8px;
        }

        span::before {
            @include transform(rotate(45deg));
            top: 1px;
        }

        span::after {
            @include transform(rotate(135deg));
            bottom: 0;
        }
    }

    ul {
        @include flat-list;
        li {
            text-align: center;
        }
    }

    li:last-child a {
        border-bottom: none;
    }
}

/*--------------------------------
    Fullscreen Nav
*/
.cd-primary-nav {
    @include zero-out;
    @include transform(translateY(-100%));
    @include transition-property(transform);
    @include transition-duration(.4s);
    text-align: center;
    background: rgba(darken($site-primary-color, 20%), .98);
    margin: 0; 
    padding: 10em 0;
    width: 100%;
    height: 110%;
    overflow: auto;
    /* by default it's hidden - on top of the viewport */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        @include transform(translateY(0));
    }
    .nav-item {
        a {
            @include antiman($color: $white, $hvc: $button-color);
            font-weight: bold;
            letter-spacing: .03em;
            border: 1px solid rgba($white, .08);
            margin-bottom: .5em;
            padding: .8em 2.5em;
            width: 320px;
            @include center-block;
            &.active {
                border: 1px solid $white;
            }
        }
        &:nth-child(3) {
            border-bottom: 1px solid rgba($white, 0.06);
            margin-bottom: 1em; 
            padding-bottom: 1em;  
        }
    }
    li:not(.nav-item) {
        color: $site-secondary-color;
        text-align: left;
        div {
            max-width: 250px;
            @include center-block;
        } 
        span {
            display: block;
        }
    }
}

/*--------------------------------
    Form
*/

#formContainer {
    background-color: $form-background;
    .entry {
        text-align: left;
        padding-top: 1em;
    }
    .field-container {
        @include grid-row-nest;
        [class*="form-"] {
            @include bp(large) {
                @include grid-col(6, 30px);
            }
        }
    }
}

.cd-form {
    @include clearfix;
    @include bp(mediumUp) {
        legend + div {
            /* reduce margin-top for first form element after the legend */
            margin-top: 20px;
        }

        h4, .cd-label {
            font-size: rem(14);
            margin-bottom: 10px;
        }

        input[type="text"], input[type="email"], textarea, select {
            padding: 20px;
        }
    }
    margin: 0 auto;
    padding-bottom: 1em;
    * {
        color: $white;
    }

    fieldset {
        @include zero-out;
        border: none;
    }

    legend {
        font-size: 2rem;
        border-bottom: 1px solid $color-3;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    h4, .cd-label {
        font-size: rem(14);
        margin-bottom: 10px;
    }

    .icon {
        position: relative;
    }

    .cd-label {
        display: block;
    }

    input, textarea, select, label {
        color: $white;
        font-size: rem(17);
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select, legend {
        @include appearance(none);
        width: 100%;
        display: block;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select {
        box-shadow: inset 0 1px 1px rgba($black, .08);
        border: 1px solid $white;
        border-radius: .25em;
        /* general style for input elements */
        padding: 18px;

        &:focus {
            outline: none;
            background-color: lighten($site-tertiary-color, 10%);
            box-shadow: 0 0 5px rgba($black, .2);
            border-color: lighten($site-tertiary-color, 30%);
        }
    }

    .message {
        min-height: 238px;
        overflow: auto;

        resize: vertical;
    }

    .submit-container {
        @include clearfix;
        clear: both;
        position: relative;

        .submit {
            @include antiman($color: inherit, $bgc: $button-color, $hvc: none);
            @include center-align($ver: false, $hor: true, $pos: absolute);
            font-size: rem(18);
            text-transform: uppercase;
            background-color: $button-color;
            padding: 1em 2.5em;
            bottom: -55px;
            z-index: 5;

            cursor: pointer;
            &:focus {
                outline: none;
                background: $color-1;
            }
        }
    }



    [required] {
        background: url("../img/cd-required.svg") no-repeat top right;
    }

    .error-message p {
        color: $color-4;
        font-size: rem(15);
        text-align: center;
        background: #c00;
        border-radius: .25em;
        margin: 0 !important;
        padding: 16px;
    }

    .error {
        border-color: #c00 !important;
    }
}

@include keyframes(cd-bounce) {
    0%, 100% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(.8));
    }
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.cd-form {
    .icon input, .icon select, .icon textarea {
        padding-left: 54px !important;
    }

    .user {
        background: $form-input url("../img/cd-icon-user.svg") no-repeat 16px center;
    }

    [required].user {
        background: $form-input url("../img/cd-icon-user.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .tel {
        background: $form-input url("../img/cd-icon-phone.svg") no-repeat 16px center;
    }

    [required].tel {
        background: $form-input url("../img/cd-icon-phone.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .email {
        background: $form-input url("../img/cd-icon-email.svg") no-repeat 16px center;
    }

    [required].email {
        background: $form-input url("../img/cd-icon-email.svg") no-repeat 16px center,
        url("../img/cd-required.svg") no-repeat top right;
    }

    .message {
        background: $form-input url("../img/cd-icon-message.svg") no-repeat 16px 16px;
    }

    [required].message {
        background: $form-input url("../img/cd-icon-message.svg") no-repeat 16px 16px,
        url("../img/cd-required.svg") no-repeat top right;
    }
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */
$label-pos: 18px;
.js .floating-labels {
    @include bp(mediumUp) {
        legend + div {
            /* reduce margin-top for first form element after the legend */
            margin-top: 16px;
        }

        .cd-label {
            top: 20px;
        }
    }
    [class*="form-"] div {
        margin: 28px 0;
    }

    .cd-label {
        @include transition(top .2s, left .2s, font-size .2s);
        color: rgba($white, .5);
        font-size: rem(17);
        position: absolute;
        top: $label-pos;
        left: $label-pos;

        cursor: text;
    }

    .icon .cd-label {
        left: 56px;
    }

    .cd-label.float {
        /* move label out the input field */
        color: darken($form-input, 20%);
        font-size: rem(11);
        font-weight: 500;
        top: -$label-pos;
        left: 0 !important;
    }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    outline: none;
    background-color: lighten($site-tertiary-color, 10%);
    box-shadow: 0 0 5px rgba($black, .2);
    border-color: lighten($site-tertiary-color, 30%);
}

input.rdr {
    outline: 0;
    background: none;
    border: none;
    width: 20px;
}
