<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
            
        <!-- Standard Favicon -->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />

        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/favicon-114.png">

        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon-72.png">

        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="assets/img/favicon-57.png">
    
        <link rel="stylesheet" href="{{ "assets/css/app.css" | prepend: site.baseurl }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    {% include base.html %}
    <body {% if page.slug %} class="{{ page.slug }}"{% endif %}>
        <main>
            {% include inc-header.html %}
            {{ content }}
            {% include inc-footer.html %}
        </main>
        
        <!-- GreenSock TweenMax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <!-- ScrollMagic GreenSock Plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

        <!-- app -->
        <script src="{{ "assets/js/app.js" | prepend: site.baseurl }}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
