---
title: Contact Sawiana Solutions
nav-item: Contact Us
nav-weight: 3
description: Sawiana identifies with the most advanced technology and forward-thinking companies and countries. 
slug: contact
layout: default

headline: Contact Sawiana
subhead: Sawiana Microgrid is a complete solution incorporating wind power generation.
---

<section id="hero" class="hero-section cd-section dk">
	<div class="bcg"></div>
	<article class="entry">
		<header>
			<h1 class="title">{{ page.headline }}</h1>
			<h2 class="sub-title">{{ page.subhead }}</h2>
		</header>
	</article>
	{% include icon-down.html %}
</section>

<!-- Content -->
<section id="page-content" class="cd-section page no-pad" data-midnight="alt">
	<article class="entry">

		<h1>Let's get started.</h1>

		<p>Sawiana Solution’s product has evolved to uniquely meet the requirements for microgrid deployment to meet a broad range of distributed energy requirements and applications. Contact us at <span class="email">{{ site.emailProtect }}</span> or fill out the form below to start the path to the new segment of the energy landscape.</p>


	</article>
	<!-- Form -->
	<div id="formContainer" class="form">
		<article class="entry">
			{% include inc-form-default.html %}
		</article>
	</div>

</section>
